In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("Numerical and Graphical Summary Datasets.xlsx",sheet_name=1)

In [5]:
df

    Hair Length  Age  Count
0             1    1     57
1             2    1    230
2             3    1    225
3             1    2    139
4             2    2    207
5             3    2    172
6             1    3    226
7             2    3    345
8             3    3     93
9             1    4    371
10            2    4    265
11            3    4     70